<html>
<body>
    <h1>{{ title }}</h1>
    <form action="/contacts" method="post">
        <input type="text" name="FullName" placeholder="Full Name">
        <input type="number" name="Phone" placeholder="Phone Number">
        <button type="submit">Add Contact</button>
    </form>
</body>
</html>
